body, html, header, nav, footer {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

body, html, header, nav, footer, p, h1, h2, h3, i, ul, li, a, i, img {
    margin: 0;
    padding: 0;
}

header, nav, .content {
    display: flex;
    justify-content: center;
}

header {
    background-color: #E6E6E6;

}

.header-one .container {
    max-width: 1280px;
    display: flex;
    width: 100%;
}

.header-one {
    background-color: #E6E6E6;
}

.header-one .container li {
    list-style: none;
    min-width: 150px;
    padding: 12px 20px;
    border-right: solid 2px #CCCCCC;
    font-weight: 600;
    color: #333333;
    font-size: 16px;
}

.header-one .container li:first-child {
    text-align: right;
}

.header-one .container li:last-child {
    border-right: none;
}

.header-one .container a {
    text-decoration: none;
    color: #333333;
}

.header-two .container {
    max-width: 1280px;
    display: flex;
    padding: 30px 80px;
    width: 100%;
}

.header-two {
    background-color: #F2F2F2;

}


.logo {
    color: #808080;
    font-size: 23px;
    text-align: right;
}

.logo img {
    height: 90px;
}

.title {
    padding-left: 100px;
}

.title h1 {
    color: #0071BC;
    font-size: 40px;
}

.title p {
    color: #0071BC;
    font-size: 16px;
}

nav .container, .content .container {
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px;
}


nav {
    border-top: solid 1px #0071BC;
    border-bottom: solid 1px #0071BC;
    margin-bottom: 30px;
}

nav .options a {
    text-decoration: none;
    color: #000000;
    padding: 20px 12px;
}

nav .options a.active {
    background-color: #A0ECF9;
    border-left: solid 1px #0071BC;
    border-right: solid 1px #0071BC;
}

nav .options li {
    list-style: none;
    display: inline;
    font-size: 17px;
    color: #000000;
    padding: 20px 0;

} 

nav .container ul {
    display: flex;
    align-items: center;
}

nav .more-options a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    color: #0071BC;
    font-weight: 600;
    
}

nav .more-options i {
    color: #0071BC;
    padding-left: 3px;
    font-size: 30px;

}

.content h2 {
    font-size: 21px;
    color: #0071BC;
    font-weight: 500;
    margin-bottom: 15px;
}

.lesson {
    width: 60%;
    height: 100%;
}

.lesson-description p {
    background-color: #E8EBED;
    color: #4D4D4D;
    font-size: 15px;
    box-shadow: 9px 9px 5px -3px rgba(0,0,0,0.7);
    padding: 15px;
    margin-bottom: 25px;
}

.appeals {
    width: 35%;
    height: 100%;
}

.appeal {
    background-color: #FFFFFF;
    padding: 25px 20px 30px;
    border-radius: 4px;
    box-shadow: 9px 8px 5px -2px rgba(0,0,0,0.2);
    border: #E6E6E6 solid 2px;
    margin-bottom: 30px;
}

.notices p {
    margin-bottom: 10px;
    font-size: 15px;
}

.appeal li {
    list-style: none;
    font-size: 15px;
    color: #000000;
    display: flex; 
    align-items: center;
    margin-bottom: 10px;
}

.appeal li span p {
    font-size: 11px;
}

.appeal li div {
    margin-left: 10px;
}

.appeal ul i {
    background-color: #A4E9F4;
    border: #797A7A solid 2px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    display: block;
    font-size: 30px;
}

.lesson h3 {
    font-size: 25px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 15px;
}

.lesson p {
    font-size: 15px;
    color: #4D4D4D; 
    line-height: 1.2;
}

.lesson span p {
    font-size: 13px;
    color: #848889;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 3px;
}

.statusbar {
    display: flex;
    justify-content: space-between;
}

.bar-progress {
    height: 20px;
    width: 220px;
    background-color: #878787;
    border-radius: 5px;
    border: 1px solid #707070;
    position: relative;
}

.p-100 {
    position: absolute;
    background-color: #39B54A;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.p-18 {
    position: absolute;
    background-color: #FBB03B;
    height: 100%;
    width: 18%;
    border-radius: 5px;
}

.p-30 {
    position: absolute;
    background-color: #FBB03B;
    height: 100%;
    width: 30%;
    border-radius: 5px;
}

.p-50 {
    position: absolute;
    background-color: #FBB03B;
    height: 100%;
    width: 50%;
    border-radius: 5px;
}

.in-class {
    justify-content: center;
    margin-top: 20px;
}

.statusbar a {
    text-decoration: none;
    background-color: #3DB4D3;
    padding: 8px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    
}

.class-item {
    display: flex;
    margin-bottom: 50px;
}

.class-item div:first-child {
    margin-right: 18px;
}

.done {
    border-color: #39B54A !important;
    background-color: #39B54A;
}


.in-progress {
    border-color: #FBB03B !important;
    background-color: #FBB03B;
}

.class-item .thumbnail {
    position: relative;
    width: 190px;
    height: 190px;
    overflow: hidden;
    border-radius: 50%;
    border: solid 5px;
    margin-bottom: -50px;
}

.class-item .thumbnail img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: auto;
}

.class-item i {
    font-size: 30px;
    width: 37px;
    height: 37px;
    color: white;
    text-align: center;
    display: block;
    border-radius: 50%;
    position: relative;
    margin-left: 155px;
}

.enunciado {
    background-color: #F4F4F4;
    padding: 30px;
    border: solid 1px #9E9D9D;
}

.resposta {
    background-color: #EDBEBE;
    padding: 30px;
    border: solid 1px #9E9D9D;
    margin-bottom: 15px;
}

.resposta p {
    font-size: 15px;
}

.enunciado p {
    font-size: 15px;
}

.questions {
    background-color: #F4F4F4;
    padding: 30px;
    border: solid 1px #9E9D9D;
    margin-bottom: 35px;
}

.questions input {
    margin-bottom: 15px;
}

.correct {
    background-color: #C6EFC5;
}

footer {
    border-top: solid 1px #CCCCCC;
    padding: 30px 0 30px 0;
}

footer .container img {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: #E6E6E6 solid 1px;
    align-items: center;
    margin-bottom: 15px;
}